@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: rgb(133, 133, 133);

  main {
    padding: 2%;
  }

  .banner {
    h1 {
      font-weight: bold;

    }
    background-image: url(../../public/assets/images/Guia-Estambul-Turquia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
    margin-bottom: 3%;
  }

  .interesting-cities {
    h4 {
      color: white;
      font-size: xx-large;
      text-align: center;
    }
    padding: 8px;
    li {
      margin-top: 10px;
      padding-top: 20px;
      padding-bottom: 8px;
      background-color: rgb(14, 13, 13);
      color: white;
      border-radius: 2px;
      height: 61px;
      text-align: center;
      font-size: 25px;
    }
  }

  .card {
    .card-img-top {
      height: 150px;
    }

    h5 {
      color: black;
      font-weight: bolder;
      text-align: center;
    }

    margin-left: 12%;
    height: 100%;
    background-color: rgb(97, 105, 112);
    color: white;
    border-width: 3px;
    border-color: black;
    align-items: center;

    .btn {
      background-color: orangered;
      color: black;
      font-weight: bold;
      border-width: 2px;
      border-color: black;
      margin-left: 35%;
    }
  }

  #most-popular-restaurant {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    color: white;
    padding: 20px 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    h4 {
      color: white;
      margin-top: 5%;
      margin-bottom: 50px;
      font-size: xx-large;
      text-align: center;
      margin-right: 50px;
    }

    #h5 {
      margin-top: 10%;
      color: black;

      font-size: 25px;
      
      text-align: center;
    }

    p{
      margin-top: 8%;
    }

  }
}

footer {
  height: 60px;
  background-color: rgb(14, 13, 13);
  color: white;
  display: flex;
  align-items: center;

  .copy {
    font-size: large;
    margin-left: 50px;
  }
  .icons {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 1000px;
    gap: 20px;
  }
}
